#main-div1{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-items:flex-start ;
    padding-top: 50px;
    background-color: RGB(246, 246, 246);
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 80px;
}
#main-div1>:first-child{
    width: 350px;
    height: 100%;
    margin-left: 150px;
}
#main-div1 h1{
 color: rgb(46, 44, 44);
 line-height: 40px;
}
#main-div1>div>p+p{
    color: rgb(231, 102, 27);
    font-weight: bold;
}
#main-div1>div>:nth-child(2){
    font-size: 20px;
    color: rgb(90, 88, 88);
}

/* *********div2************* */

#main-div2{
    width: 100%;
    height: 150px;
   background-color: RGB(255, 255, 255);
}
#main-div2>div{
    width: 600px;
    text-align: center;
    margin: auto;
    color:rgb(235, 117, 63);
    line-height: 25px;
    font-size: large;
}


#slides{
   
    width: 100%;
   background-color: RGB(248, 164, 120);
   height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ***********slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-left:100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* ***********core value*********** */
#core-main{
  height: 1330px;
  width: 100%;
  margin-top: 50px;
  background-color: RGB(248, 248, 248);
  padding-top: 80px;
  margin-top: -30px;
  margin-bottom: 30px;
  
 }
 #head{
  margin: auto;
  height: 130px;
  width: 55%;
  text-align: center;
  margin-bottom: 50px;
 }
 #head h1{
  font-size:40px ;
  margin-bottom: -5px;
 }
 
 #values>div{
  height: 140px;
  width: 55%;
   margin: auto;
  display: flex;
  margin-bottom: 2px;
 }
img{
  margin-right: 30px;
  height: 90px;
  width: 95px;
}
#values h2{
  margin-bottom: -7px;
  color: #4b4b4b;
}
#core-main p{
  font-size: larger;
  line-height: 28px;
  color:#617172;
}






/* ****** 3 images section******** */
#main-three-images{
  height: 370px;
  width: 85%;
  margin:auto;
  display: flex;
  margin-bottom: 30px;
}
#main-three-images>:nth-child(1)>img{
  height: 100%;
  width: 500px;
 margin-left: 10px;
}
#main-three-images>:nth-child(2)>img{
  height: 100%;
  width: 290px;
  
}
#main-three-images>:nth-child(3)>img{
  height: 100%;
  width: 290px;
}

/* **********saying division***** */
#saying{
  height: 130px;
  width: 55%;
  margin: auto;
 text-align: center;
 margin-top: 80px;
 padding-top: 10px;
 background-color: #f8f8f8;
 color: RGB(170, 170, 170);
}

/* ******meeet team**** */
#meet-team{
  height: 150px;
  width: 85%;
  margin: auto;
  margin-top: 100px;
}
#meet-team>h1{
  text-align: center;
  margin-bottom: 20px;
  color: RGB(75, 75, 75);
  font-size: 42px;
  
}
#meet-team>h2{
  color: RGB(75, 75, 75);

}


/* *********team images*** */
#team-container{
  height:1000px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: auto;
  gap: 10px;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
  
}
#team-container img{
  height: 150px;
  width: 150px;
  margin-bottom: -10px;
  
}
#team-container h4{
  margin-bottom: -10px;
  font-size: 15px;
  color: RGB(75, 75, 81);
}
#team-container p{
  color:RGB(98, 98, 98);
}


/* ********bottom lines***** */
#bottom-lines{
  width: 85%;
  margin: auto;
  color: RGB(75, 75, 75);
  
}

#bottom-lines h2:hover{
  color: rgb(187, 72, 30);
}

/* ***********last div** */
#last-main{
  width: 100%;
  height: 390px;
  margin-top: 60px;
  background-color:RGB(244, 132, 98);
  padding-top: 20px;
}
#last-main>div{
  height: 100%;
  margin: auto;
  width: 50%;
  color: RGB(255, 255, 255);
  text-align: center;
 
}
#last-main h1{
 font-size: 43px;
 
}
#last-main p{
  font-size: 20px;
}
#last-main button{
  height: 50px;
  width: 200px;
  color: chocolate;
  font-size: 16px;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
}


