
        *{
            font-family: "MuseoSans-700",sans-serif;
        }
        .pro-nav-top{
            width: 100%;
            height: 42.09px;
            background-color: #6245AC;
        }
        .pro-nav-top>p{
            text-align: center;
            color: white;
        }
        .pro-nav-two{
            width: 100%;
            height: 62.07px;
            background-color: #9b51e0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .pro-nav-two img{
            height: 50px;
            width: 200px;
            margin-left: 80px;
            background: transparent;
        }
        .pro-nav-two>div+div{
            display: flex;
            align-items: center;
            margin-right: 50px;
            gap: 20px;
            color: #ffff;
        }
        .pro-nav-two>div+div button{
            background:transparent;
            height: 45px;
            width: 165px;
            color: #ffff;
            border: 1px solid #ffff;
        }
        .pro-nav-bottom h1{
            text-align: center;
            font-size: 42px;
        }  
        .pro-nav-bottom{
            display: flex;
            height: 720px;
            background-color: #9b51e0;
        }  
       
        .pro-nav-bottom>div:first-child{
            width: 602px;
            height: 720;
            /* border: 1px solid red; */
            margin-top: 50px;
            margin-left: 80px;
           
        } 
        .pro-nav-bottom>div img{
            height: 576px;
            width: 528px;
            margin-top: 50px;
            
        }   
        .pro-div-three{
            display: flex;
            width: 70%;
            margin: auto;
        } 
        .pro-div-three div{
            width: 100%;
            /* border: 1px solid green; */
            margin-top: 50px;
        }  
        .pro-div-three>div img{
            width: 162px;
            height: 162px;
            /* border: 1px solid blue; */
            margin-left: 70px;
           
        }  
        .pro-div-three>div h3{
            font-size: 20px;
            text-align: center;
        }
        .pro-div-four{
            display: flex;
            width: 80%;
            margin: auto;
        }
        .pro-div-four div{
            width: 100%;
            /* border: 1px solid green; */
            margin-top: 50px;
        } 
        .pro-div-four>div img{
            width: 100%;
            height: 100%;
            /* border: 1px solid blue; */
            /* margin-left: 70px; */
            margin-top: -18px;
           
        }  
        .pro-div-four>div h1{
            margin: 20px 0px 15px;
            margin-top: 50px;
        }
        .pro-div-four>div p{
            font-size: 16px;
            columns: #000000;
        }

        .pro-div-five{
            display: flex;
            width: 80%;
            margin: auto;
        }
        .pro-div-five div{
            width: 100%;
            margin-top: 120px;
        } 
        .pro-div-five>div img{
            width: 100%;
            height: 100%;
            /* border: 1px solid blue; */
            /* margin-left: 70px; */
            margin-top: -18px;
           
        }  
        .pro-div-five>div h2{
            margin: 20px 0px 15px;
            margin-top: 50px;
        }
        .pro-div-five>div p{
            font-size: 16px;
            columns: #000000;
        }

        .pro-div-six{
            /* border: 1px solid rebeccapurple; */
            width: 88%;
            height: 350px;
            
            background-color: #835ce5;
            margin:auto;
            margin-top: 30px;
        }
        .pro-div-six img:first-child{
            height: 100px;
            position: relative;
            left: 850px;
            top: -10px;
        } 
        .pro-div-six h2{
            text-align: center;
            font-size: 32px;
            margin: 20px 0px 0px;
            color: #ffff;
        }
        .pro-div-six button{
            height: 51px;
            width: 220px;
            display: block;
            margin: auto;
            border-radius: 5px;
            margin-top: 10px;
            border: 0px;
        }
        .pro-div-six>img:last-child{
            height: 87.5px;
            width: 175px;
            
            left: 34%;
            bottom: -291%;
            vertical-align: middle;
            transform: rotate(180deg);
            position: absolute;
        }
        .pro-div-bottom h2{
           font-size: 40px;
           /* border: 1px solid black; */
           width: 70%;
           margin: auto;
           margin-top: 150px;
           text-align: center;
        }
        ul{
            /* border: 1px solid black; */
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 50px;
            width: 70%;
            
            margin: auto;
            margin-top: 50px;
            align-items: center;
           justify-content: space-evenly;
        }
        li{
            list-style: none;
        }
       
        .pro-div-bottom-two{
            width: 90%;
            height: 520px;
            margin: auto;
            margin-top: 80px;
            background-color: #835ce5;
        }
        .pro-div-bottom-two>img{
            position: relative;
            width: 180px;
            right: -1092px;
            bottom: -120px;
}
            
        
        .pro-div-bottom-two>div{
            width: 80%;
            margin: auto;
            margin-top: -10px;
             
        }
        .pro-div-bottom-two>div h2{
            line-height: 55px;
            font-size: 50px;
            text-align: center;
            color: #ffff;
        }
        .pro-div-bottom-two>div h3{
            font-size: 13px;
            color: #ffff;
            text-align: center;
        }
        .pro-div-bottom-two>div button{
            width: 220px;
            height: 51px;
            display: block;
            margin: auto;
            margin-top: 50px;
            color: black;
            border: 0px;
            border-radius: 5px;
        }
        .pro-div-bottom-two>div p{
            text-align: center;
            color: #ffff;
            font-size: 12px;
        }
        .pro-div-bottom-two>div img{
            position: relative;
             width: 100px;
            top: -351px;
            left: -117px;
        }

        /* main */
        .pro-div-bottom-three{
            width: 65%;
            height: 900px;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            margin-top: 300px;
        }

        .pro-div-bottom-three>div{
            display: flex;
            justify-content: space-around;
        }

        /* one */
        #pro-div-bottom-three-one{
            width: 400px;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            
        }
        #pro-div-bottom-three-one>div:first-child>img{
            width: 400px;
            height: 280px;
        }
        #pro-div-bottom-three-one>.pro-div-bottom-three-one-one{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        /* two */
        #pro-div-bottom-three-two{
            width: 400px;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        #pro-div-bottom-three-two>div:first-child>img{
            width: 400px;
            height: 280px;
        }
        #pro-div-bottom-three-two>.pro-div-bottom-three-one-two{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .pro-div-bottom-three-one-two{
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        .pro-div-bottom-three-one-two>div{
            display: flex;
            width: inherit;
            text-align: left;
        }
        .pro-div-bottom-three-one-two>div img{
            width: 10%;
        }
        .pro-div-bottom-three-one-two>div p{
            margin-left: 8px;
        }
        .pro-div-bottom-three-one-two>button{
            background-color: #4bbb8d;
            width: 80%;
            height: 40px;
            color:white;
            text-align: center;
            border: transparent;
            border-radius: 5px;
        }
        /* one */
        .pro-div-bottom-three-one-two{
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            align-items: center;
        }
        .pro-div-bottom-three-one-one>div{
            display: flex;
            width: inherit;
            text-align: left;
        }
        .pro-div-bottom-three-one-one>div img{
            width: 10%;
        }
        .pro-div-bottom-three-one-one>div p{
            margin-left: 8px;
        }
        .pro-div-bottom-three-one-one>button{
            background-color: #4bbb8d;
            width: 80%;
            height: 40px;
            color:white;
            text-align: center;
            border: transparent;
            border-radius: 5px;
            margin-top: 20px;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        .prod-foot{
            width: 100%;
            height: 201px;
            background-color: #835ce5;
        }
        .prod-foot-one>div{            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            margin-top: 50px;
        }
        .prod-foot-one>div img{
            width: 209px;
            height: 35px;
        }
       #pro-foo-end{
           display: flex;
           margin-left: 400px;
           gap: 20px;
       }
       .prod-foot-one-two{
        display: flex;
        width: 80%;
        margin: auto;
        margin-top: 50px;
       }
       .prod-foot-one-two>div img{
           width: 175px;
           height: 65px;
           margin-left: 550px;
       }